<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
<nav>
  <% if (user) { %>
    <a href="/auth/logout">
      <button type="submit">Logout</button>
    </a>
    <a href="/activities/new">Add Activity</a>
    <a href="/packages/new">Add Package</a>
    <a href="/packages">All Package</a>
  <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</nav>