<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/packages/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1 class ="title"><%= title %></h1>
  <form id="add-performer-form" action="/activities" method="POST">
    <label for ="destination-select">Destination:</label>
    <select name="name">
      <option value="Kathmandu">Kathmandu</option>
      <option value="Chitwan">Chitwan</option>
      <option value="Pokhara">Pokhara</option>
    </select>
    <label for="image-url">Image URL:</label>
    <input type="text" name="imageUrl">
    <label for="name-input">Recommended place:</label>
    <input type="text" name="recommendedPlaces" id="name-input" required>
    <label for="name-input">Recommended activity:</label>
    <input type="text" name="recommendedActivities" id="name-input" required>
    <button type="submit">Add</button>
  </form>
</main>

<%- include('../partials/footer') %>