body{
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.imgur.com/gjNyPce.jpg");
  background-position: center;
  background-size: cover;
  

}

h1{
  color: black;
  font-size: 40px;
}

.remove{
  width: 180px;
  font-size: 2em;
}

@media only screen and (max-width: 600px) {

  body{
    width: 100vw;
    height: 100vh;
    background: url("https://i.imgur.com/gjNyPce.jpg");
    background-size: cover;
    background-position: center;
  }
  
} 