body{
  background-image: url("https://i.imgur.com/9gPAZu7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 35.2rem));
  font-size: 2rem;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 2.5rem;
}

form > button {
  grid-column: span 2;
  width: 16rem;
  margin-left: auto;
  font-size: 2.2rem;
}

.title{
  font-size: 4.5em;
  padding-top: 3%;
  padding-bottom: 3%;
}